body {
  font-family: "Roboto", sans-serif;
  color: #434455; 
  background-color: #FFFFFF; 
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform:uppercase;
  color: #4d5ae5;
}

.logo-second-part {
  color: #2E2F42;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}



.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404BBF; 
}

.hero {
  background-color: #2E2F42; 
}


.hero-title {
  color: #FFFFFF; 
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
}


.button {
  background-color: #4D5AE5; 
  color: #FFFFFF;            
  cursor: pointer;       
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background-color: #404BBF; 
}


.footer {
  background-color: #2E2F42; 
}

.logo-footer {
  color: #F4F4FD;
}
.page-footer {
  background-color: #2E2F42; 
 
}

.footer-text {
  color: #F4F4FD; 
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #F4F4FD;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.header-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-item {
  background-color: #ffffff;

}
.team-title, .team-text {
  text-align: center;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;      
  color: #2E2F42;          
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;     
  color: #434455;         
}

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}


.portfolio-title {
  
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.portfolio-text {

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}